# server & client
NEXT_PUBLIC_NODE_ENV="development"

# only server
DATABASE_URL="sqlserver://ip;database=AutoML;user=automl;password=.automl.;encrypt=true;trustServerCertificate=true;"

# READER_URL="sqlserver://ip;database=DV;user=apir;password=.apir.;encrypt=true;trustServerCertificate=true;"
# WRITER_URL="sqlserver://ip;database=DV;user=apiw;password=.apiw.;encrypt=true;trustServerCertificate=true;"

# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_URL=''
NEXTAUTH_SECRET=''

GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

FACEBOOK_CLIENT_ID=''
FACEBOOK_CLIENT_SECRET=''

DISCORD_CLIENT_ID=''
DISCORD_CLIENT_SECRET=''

WKESSO_CLIENT_ID=''
WKESSO_CLIENT_SECRET=''
WKESSO_CALLBACK_URL=''

AUTOMIND_BACKEND_URL='http://127.0.0.1:8080'
